@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currentlysupported by Chrome, Opera and Firefox */
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #2c3e50, #fd746c);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card {
  width: 300px;
  height: 350px;
  background: var(--background);
  -webkit-app-region: drag;
  position: relative;
  border-bottom: 4px solid #ed323d;
}

.toolBarOptions {
  display: flex;
  position: relative;
  border-top: 10px solid #ed323d;
}

.closeBtn {
  padding: 4px;
  background-color: #ed323d;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 30px;
  text-align: center;
}

.logo {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;

  img {
    max-width: 100%;
  }
}

.card__header {
  height: 10px;
  background-color: #e67e22;
}

.form {
  margin-top: 70px;
  padding: 20px;
  .label {
    color: #ffff;
    margin-bottom: 5px;
    margin-top: 15px;
    display: inline-block;
  }
  .inputText {
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 7px;
  }
  .forgotPassword {
    color: #4285f4;
    cursor: pointer;
    margin-top: 20px;
  }
  .submitButton {
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: #ed323d;
    line-height: 30px;
    color: #ffff;
    margin-top: 15px;
    cursor: pointer;
  }
  .error {
    background-color: rgba(255, 255, 255, 0.09);
    border: 0.8px solid #f44336;
    outline: none;
  }
  .errorMessage {
    color: #f44336;
    margin-top: 5px;
  }
}
